name: Check Stock

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

              - name: Download state
        uses: actions/download-artifact@v4
        with:
          name: stock-state
        continue-on-error: true


           - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          python bot.py

      - name: Upload state
        uses: actions/upload-artifact@v4
        with:
          name: stock-state
          path: last_state.txt

